body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela {
    gap: 20px;
    font-size: 60px;
    background-color: rgba(151, 255, 215, 0.582);
    padding: 30px;

}

.tds {
    padding: 20px;
    border: white 1px solid;
    text-align: center;
}